*{
    margin: 0;
    padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: 2em auto;
    text-align: center;
    
}

  form {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    background-color: #00ffa2;
    border-radius: 10px;
  }

  

  h1 {
    text-align: center;
    color: #004466;
    margin-bottom: .8em;
  }

  input[type="text"] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    color: #004466;
    background-color:  #f1ebeb;
  }

  input[type="number"] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    color: #004466;
    background-color: #f1ebeb;
  }
  
  button[type="submit"] {
    width: 60%;
    background-color: #004466;
    color: #fff;
    font-weight: 600;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button {
    background-color: #004466;
    color: #fff;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }